<html xmlns:th="http://www.thymeleaf.org">
<body >
<th:block th:fragment="nav">
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">TKU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" th:href="@{/web/index}" th:text="#{common.index}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/web/book}" th:text="#{function.book.title}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/web/file}" th:text="#{common.file}"></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit" th:text="#{btn.logout}"></button>
        </form>
      </div>
    </div>
  </nav>
</th:block>
</body>
</html>